<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodfy</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>

    <div class="container">
      <%- include('parts/page-header.ejs') %>

      <section id="wrapper-receitas">
        <img src="<%= recipe.image %> " alt="image <%= recipe.title %>">
        <div class="title">
          <h1><%= recipe.title %></h1>
          <p>por <%= recipe.author %></p>

          <section class="Ingredientes">
            <div class="wraper-content">

              <ul>

                <% recipe.ingredients.forEach(function(recipe) { %>
                  <li> <%= recipe %> </li>
                <% }); %>

              </ul>

            </div>
          </section>

          <section class="wraper-preparation">
            <div class="title">
              <h2>Modo de preparo</h2>
            </div>

            <% recipe.preparation.forEach(function(recipe) { %>
              <p><%= recipe %></p>
            <% }); %>

            </section>

        </div>
      </section>
    </div>

    <!-- <%- include('parts/page-footer.ejs') %> -->

    <script src="/script/scripts.js"></script>
  </body>
</html>
